.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.software-skill-inline > i {
  color: #868e96;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
.software-skills-main-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skill-logo-div {
  background-color: white;
  color: black;
  /* width: 150px; */
  margin: 10px 20px;
  padding: 20px;
  width: 140px;
  height: 140px;
  border-radius: 20px;
  border: 1px solid #eaeaea;
  box-shadow: 5px 5px 12px #cdcd;
  text-align: center;
}
.skill-logo-div > img {
  width: 70px;
}
.skill-logo-name {
  font: "Roboto Slab", serif;
  font-weight: 300;
}
